# Самостоятельная №2

# New Section

**Списывание и использование телефонов**

Первое предупреждение, сделанное ассистентом или преподавателем: - 1 балл к вашей оценке. 

Второе предупреждение: работа аннулируется без права переписывания.

0. **Оформление и стиль (0.5 балла).**

Этот балл у вас есть по умолчанию при условии сданной работы с решенными задачами. 

За каждый тип повторяющейся стилистической ошибки снимается 0.25 балла Повторяющейся считаем ошибку, допущенную минимум 2 раза.

0.25 балла снимается за каждые 4 не систематические ошибки (4 разных ошибки, допущенных по одному разу.)

Так же из этого балла могут сниматься штрафы 0.1 за использование ненужных функций (мы не оцениваем здесь эффективность решения, но смотрим на такие вещи, как, например, перевод строкового вода в строку - лишняя ненужная операция.)

**Все задачи должны принимать значения на ввод (решение для частного случая будет считаться неполным).**

1. **Тест (2 балла, каждый вопрос по 0,2 балла)**

       1. Дан следующий код:
            x = 1
            y = 2
            def func(x):
                z = 5
                return x+z
            
            Укажите глобальные и локальные переменные.

In [0]:
# Ваш ответ на вопрос 1 здесь в комментарии
# Локальные переменные: x, z
# Глобальные переменные: x, y

        2. sent = "1, 2,3, 4,5, 26"
            sent.replace(arg1, arg2)
            
            Какие значения должны иметь arg1 и arg2 чтобы получить строку "11,3, 4,516"?
            (Известно, что длина arg1 <4 и длина arg2 < 2)

In [0]:
# Ваш ответ на вопрос 2 здесь в комментарии
# arg1: ", 2"
# arg2: "1"

           
        3. a = (1, 2, 3, 'abc')
            Как называется тип переменной a на русском языке?

In [0]:
# Ваш ответ на вопрос 3 здесь в комментарии
# кортеж

        4. Даны типы данных: int, list, str, tuple, float. 
            Какие из них являются неизменяемыми типами?

In [0]:
# Ваш ответ на вопрос 4 здесь в комментарии
# int, str, tuple, float

        5. x = "['a', 'b']"
                Какой тип переменной x?

In [0]:
# Ваш ответ на вопрос 5 здесь в комментарии
# str

![alt text](https://)        6. Приведите два варианта создания пустого списка.

In [0]:
# Ваш ответ на вопрос 6 здесь в комментарии
# Вариант 1: list()
# Вариант 2: []

        7. Даны 2 функции, принимающие на вход список целых чисел:
            
            #A
            def fun2(a):
                result = []
                for element in a:
                    result.append(element**2)
                return result
            
            #B
            def fun3(a):
                square = lambda x: x**2
                result = list(map(square,a))
                return result
            
            Какая или какие из них выведут массив с квадратами элеметов списка a? Выберите ответ из A, B

In [0]:
# Ваш ответ на вопрос 7 здесь в комментарии
# A, B

        8. В чем отличие math.floor от math.trunc?

In [0]:
# Ваш ответ на вопрос 8 здесь в комментарии
# floor: округление к меньшему, trunc: отбрасывание дробной части

        9. x = [[1,2],(3,4,"5,6")]
              Как обратиться по индексу к элементу 5?

In [0]:
# Ваш ответ на вопрос 9 здесь в комментарии
# x[1][2][0]

        10. Превратите строку 'abc' в список ['A', 'B', 'C'] c использование функции map и анонимной функции lambda.
        Подсказка: перевести строку в верхний регистр можно с помощью метода .upper()

In [0]:
# Ваш ответ на вопрос 10 здесь в коде ниже
# x = list(map(lambda s: s.upper(), 'abc'))

2. **Задания на методы строк (1 балл, каждый вопрос по 0,2 балла)**

Дана строка. C помощью методов строк, выполните следующие задания (все задания, кроме пятого можно решить с помощью одного метода).

In [0]:
# исполните эту ячейку
ex2 = ".by the holy light."


      1. Вывести измененную строку - убрать точку слева (не решать через срез строк).

In [0]:
# Решение 2.1 
ex2.lstrip(".")

        2. Вывести индекс последнего вхождения буквы "l"

In [0]:
# Решение 2.2
ex2.rfind("l")

       3. Заменить все буквы "t" на "U"

In [0]:
# Решение 2.3
ex2.replace('t','U')

        4. Вывести количество вхождений элемента "h"

In [0]:
# Решение 2.4
ex2.count('h')

        5. Получить массив из слов без точек (решается с помощью двух методов).

In [0]:
# Решение 2.5
ex2.strip('.').split()

3. **Задания на срезы строк (0,5 балла, каждый вопрос по 0,1 балла)**

Дана строка ex3 = "Please call me at 12:34 on the number 89123456789."

Используя срезы выполните следующие задания.

In [0]:
# исполните эту ячейку
ex3 = "Please call me at 12:34 on the number 89123456789."

        1. Выведите строку, состоящую из первых 4-х символов

In [0]:
# Решение 3.1
ex3[:4]

        2. Выведите строку, содержащую только "call"

In [0]:
# Решение 3.2
ex3[7:11]

        3. Выведите строку без последнего символа с использованием индексации с конца строки.

In [0]:
# Решение 3.3
ex3[:-1]

        4. Выведите строку, идущую в обратном направлении

In [0]:
# Решение 3.4
ex3[::-1]

        5. Выведите строку, образованную из нечетных индексов данной строки 
        ('Pes alm t1:4o h ubr813579')

In [0]:
# Решение 3.5
ex3[::2] # четные индексы
ex3[1::2] # нечетные индексы

**4. Именины (1,5 балла)**

На мероприятии организаторы дарят подарки гостям, которые в этот день празднуют именины. Помогите определить организаторам, сколько подарков надо подарить.

**Формат ввода:**
- Первая строка - имя людей, которые празднуют именины.
- Вторая строка - список гостей вида “Имя Фамилия” через запятую. 

**Формат вывода:**
- Количество людей из списка гостей, которые празднуют именины

Пример 1:

**Ввод:**

Татьяна

Мария Смирнова, Татьяна Иванова

**Вывод:**
1

Пример 2:

**Ввод:**

Иван

Иван Сидоров, Миша Иванов, Иван Смирнов

**Вывод:**
2

In [0]:
# Здесь решение задачи 4
cel_name = input()
counter = 0  # счетчик
list_of_names = input().split(', ')  # разделяем элементы по ', '
for fl_name in list_of_names:  # проходимся по именам с фамилиями
    name = fl_name.split()[0]  # берем только имя
    if name == cel_name:  # проверка на целевое имя
        counter += 1  # добавляем в счетчик + 1
print(counter)

**5. Голосование (1,5 балла)**

Напишите "функцию голосования" def Election(*здесь аргументы*), возвращающую то значение (1 или 0), которое среди значений ее аргументов встречается чаще. Количество аргументов может быть любым. В случае равного количество единиц и нулей - функция возвращает строку 'Equality'. 

Напечатайте результаты работы функции на следующих аргументах:
- 0
- 0, 0, 0, 1
- 0, 0, 1
- 1, 1, 1, 0, 1
- 0, 0, 1, 1, 0, 1

Обратите внимание, что в программе не должно быть ввода с помощью функции input(), а функция Election должна принимать на ввод именно числа, а не содержащие их строки, списки или массивы.

Формат вывода:
- Необходимо вывести значения функции от вышеуказанных аргументов.

In [0]:
# Здесь решение задачи 5
def Election(*args):
    result = sum(args)/len(args)  # можно по идее циклом, но так проще
    if result > 0.5:
        return 1
    elif result < 0.5:
        return 0
    else:
        return 'Equality'

print(Election(0))
print(Election(0, 0, 0, 1))
print(Election(0, 0, 1))
print(Election(1, 1, 1, 0, 1))
print(Election(0, 0, 1, 1, 0, 1))

**6. Индексирование (1.25 балла)**

Напишите программу, которая принимает на вход строки и и число n и возвращает список строк, где они  “проиндексированы” от 1 до n включительно.


Пример:
Ввод:
- семинар контрольная
- 3

Вывод:
[‘семинар1’,  ‘контрольная1’, ‘семинар2’, ‘контрольная2’, ‘семинар3’, ‘контрольная3’]

In [0]:
# Здесь решение задачи 6
input_list = input().split()  #получаем слова
number = int(input())  # получаем число n
result = []  # создадим пустой список куда будем записывать новые слова
for i in range(number):  # проходимся по числам от 0 до 3 (не вкл)
    for elem in input_list:  # проходимся по словам
        result.append(elem+str(i+1))  # создаем новое слово и добавляем его в result
print(result)

**7. Кэшбек (1.75 балла)**

Покупки с карточки распределяются по категориям, которые пронумерованы натуральными числами. За покупки категорий 1 и 2 начисляется повышенный кэшбек: в категории 1: 5% за каждую покупку, в категории 2: 7%. За покупки всех остальных категорий начисляется 1%. Напишите программу, которая по истории покупок подсчитывает суммарный кэшбек.

**Задачу можно решить для частного случая на 0.75 балла.**

**Формат ввода:**
- Множество пар вида “номер категории (целое число) - сумма покупки (действительное число)”. Количество таких пар может быть любым. Каждая пара вводится с новой строки, ввод заканчивается нулем.

**Формат вывода: **

- Действительное число (суммарный кэшбек).

Пример:

**Ввод:**
- 7 250.50
- 2 1000
- 1 50
- 0

**Вывод:**
- 75.005

In [0]:
# Здесь решение задачи 7
row = input()  # считываем 1 строку
total_cashback = 0
while(row != "0"):
    number, amount = row.split()  # разделяем на номер категории и сумму покупки
    if number == "1":  # 1 категория 5%
        cashback = 0.05
    elif number == "2":  # 2 категория 7%
        cashback = 0.07
    else:  # остальные категории 1%
        cashback = 0.01
    total_cashback += cashback * float(amount)  # полученный кэшбек от покупки
    row = input()  # считываем новую строку
print(total_cashback)

**Дополнительное задание**

**Удаление элемента из кортежа (1,5 балла)**

Напишите функцию def RemoveFromTuple (item, myTuple), которая проверяет, есть ли элемент item в кортеже myTuple, и возвращает myTuple без item (если элемента в кортеже нет, кортеж возвращается в первоначальном виде, иначе элемент удаляется из кортежа). Если элемент встречается в кортеже несколько раз - удаляется только первый случай. И кортеж, и элементы - строки.

**Формат ввода:**
- Первая строка - объект, который нужно удалить из кортежа
- Вторая строка - элементы кортежа через пробел

**Формат вывода:**
- ‘YES’, если объект есть в кортеже, ‘NO’, если нет
- Результат работы функции RemoveFromTuple от входных данных

Примеры:

**Ввод:**

a

b d b a d c a

**Ввод:**

'YES'

('b', 'd', 'b', 'd', 'c', 'a')

**Ввод:**

artemis

portos atos dartagnian

**Ввод:**

'NO'

("portos", "atos", "dartagnian")

In [0]:
# Здесь решение дополнительной задачи
def RemoveFromTuple(item, myTuple): 
    n = len(myTuple)  # длина кортежа
    i = 0  # индекс
    while(i < n):  # пока индекс меньше длины кортежа
        if myTuple[i] == item:  # если элемент найден
            print("YES")
            return myTuple[:i] + myTuple[i+1:]  # выводим tuple без элемента с индексом i
        i += 1  # инкремент
    else:  # если элемент не найден (вышел из цикла не вып. условие i < n)
        print("NO")
        return myTuple

item = input()
myTuple = tuple(input().split())
RemoveFromTuple(item, myTuple)